*{
    margin: 0;
    padding: 0;
}



#box{
    height:100px ;
    width: 150px;
    background-color: blueviolet;
    text-align:center ;
    font-size: 6em;

animation-name:_______;
animation-duration: 2s;
}
@keyframes slideleft{
    from{transform:translatex(400%)}
}
@keyframes slideright{
    to{transform:translatex(400%)}
}
@keyframes slideup{
    from{transform: translateY(300%)}
}
@keyframes slidedown{
    to{transform: translateX(300%)}
}
@keyframes rotate{
    from{
        transform: rotateZ(360deg);
    }
}