*{box-sizing: content-box;}
body{
    margin: 0px;
}

header{
    background-color: rgb(143, 164, 182);
    text-align: center;
    padding: 5px;
}
.navbar{
    background-color: black;
    height: 50px;
}
section{
    width: 150px;
    float: left;
    padding: 10px;
}
aside{
    width: 300px;
    float: left;
    padding: 10px;
}
article{
    width: 170px;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: rgb(143, 164, 182);
    text-align: center;
    padding: 5px;
}

